<?xml version="1.0"?>

<model>
  <name>TurtleBot3(Pizza)</name>
  <version>1.0</version>
  <sdf version="1.0">model-1_4.sdf</sdf>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    TurtleBot3 Pizza
  </description>
</model>
